flows2.json
[
    {
        "id": "8121bc2b8d851e97",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e81c12381086977",
        "type": "inject",
        "z": "8121bc2b8d851e97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "f8fae0c588e8a77e"
            ]
        ]
    },
    {
        "id": "f8fae0c588e8a77e",
        "type": "function",
        "z": "8121bc2b8d851e97",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "a9ab393d0be5ac12",
                "b81eb9e239053738"
            ]
        ]
    },
    {
        "id": "a9ab393d0be5ac12",
        "type": "debug",
        "z": "8121bc2b8d851e97",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "b81eb9e239053738",
        "type": "ui_text",
        "z": "8121bc2b8d851e97",
        "group": "2efee8dbfe7cef46",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "2efee8dbfe7cef46",
        "type": "ui_group",
        "name": "Fecha G8 Group 1",
        "tab": "34d44c3d4286ff31",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "34d44c3d4286ff31",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]